:root {
  --bgcolor:#4a6572;
    /**#b0bec5; **/
  --bgmaincolor:#b0bec5;
  --bgcolor-white:#fff;
  /** #F9F9FA**/
}

body {
  background-color: var(--bgcolor, gray);
  font-family: 'PT Sans', sans-serif;
  text-align:center;
  min-width:300px;
  padding:20px;
}

#main {
  position:relative;
  width:85%;
  text-align:center;
  background-color: var(--bgmaincolor, gray);
  border:0px solid;
  border-radius:5px;
  margin: 10px auto;
  padding: 20px;
  box-shadow: 5px 0px 20px 1px;
}

.row {
  position:relative;
  background-color: var(--bgcolor-white, white);
  text-align:center;
  border:0px solid;
  border-radius:5px;
  box-shadow:0px 0px 10px 0px;
  font-size:40px;
  padding:20px 20px 20px 20px;
  margin:20px auto;
  width:75%;
}

.title-sub{
  padding:5px;
  padding-bottom:0px;
  font-size:18px;
}
img {
  position:relative;
  max-width:80%;
  /**max-height:80%; **/
  min-width:20%;
  /** min-height:20%; **/
  width:auto;
  height:auto;
}

#img-div {
  text-align:center;
  padding: 5px 10px 20px 10px;
  background-color: var(--bgcolor-darkblue, white) !important;
  position:relative;
  top:0;
  bottom:0;
  right:0;
  left:0;
}

.img-caption {
  text-align:center;
  font-weight: bold;
}

.line-seperator {
  /**margin: 1px 250px 20px 250px; **/
  margin-left:-10px;
  margin-right:-5px;
  border-radius:0.5em;
  color: var(--bgcolor, #b0bec5);
  /**color:#e2f1f8 **/
}

#tribute-info {
   text-align:left;
   padding: 5px 10px 20px 20%;
}

.tribute-head {
   margin: 1px 250px 20px 150px;
}

.underline {
  margin: 1px 250px 20px 150px;
  color:#e2f1f8;
}
